# Data analysis

In [9]:
import pandas as pd
from scipy import stats

## Testcase: general

In [8]:

df = pd.read_csv("data/general/experiment_results.csv")

df_tortuous = df[df['tortosity'] == 'tortuous']
df_moderate = df[df['tortosity'] == 'moderate']
df_simple = df[df['tortosity'] == 'simple']
df

,Unnamed: 0,vessel,tortosity,Time [s],Dice 3D [%],IoU 3D [%],Chamfer distance 3D [mm]
0,0,simple:0,simple,NaN,81.055901,68.146214,0.632574
1,1,simple:1,simple,NaN,77.199282,62.865497,0.823171
2,2,simple:2,simple,NaN,77.638640,63.450292,1.019639
3,3,simple:3,simple,NaN,81.426449,68.671679,0.730628
4,4,simple:4,simple,NaN,78.225806,64.238411,0.674035
5,5,simple:5,simple,NaN,80.564263,67.454068,0.786213
6,6,simple:6,simple,NaN,78.456592,64.550265,0.778851
7,7,simple:7,simple,NaN,80.788177,67.768595,0.632903
8,8,simple:8,simple,NaN,76.666667,62.162162,0.894446
9,9,simple:9,simple,NaN,82.642089,70.418848,0.619477
10,10,moderate:0,moderate,NaN,75.806452,61.038961,0.854893
11,11,moderate:1,moderate,NaN,75.205255,60.263158,1.091973
12,12,moderate:2,moderate,NaN,77.629630,63.438257,0.879402
13,13,moderate:3,moderate,NaN,78.834356,65.063291,0.912556
14,14,moderate:4,moderate,NaN,76.996805,62.597403,0.906513
15,15,moderate:5,moderate,NaN,77.760000,63.612565,0.869086
16,16,moderate:6,moderate,NaN,78.983051,65.266106,0.670159
17,17,moderate:7,moderate,NaN,77.994429,63.926941,1.002117
18,18,moderate:8,moderate,NaN,80.546075,67.428571,0.591980
19,19,moderate:9,moderate,NaN,80.455408,67.301587,0.704257
20,20,tortuous:0,tortuous,NaN,79.270315,65.659341,0.696653
21,21,tortuous:1,tortuous,NaN,75.428571,60.550459,1.145148
22,22,tortuous:2,tortuous,NaN,76.271186,61.643836,0.854864
23,23,tortuous:3,tortuous,NaN,78.445230,64.534884,0.652106
24,24,tortuous:4,tortuous,NaN,76.797386,62.334218,0.876735
25,25,tortuous:5,tortuous,NaN,80.243161,67.005076,0.625820
26,26,tortuous:6,tortuous,NaN,81.694402,69.053708,0.591425
27,27,tortuous:7,tortuous,NaN,82.521490,70.243902,0.540798
28,28,tortuous:8,tortuous,NaN,80.351906,67.156863,0.656193
29,29,tortuous:9,tortuous,NaN,78.091873,64.057971,0.731215

In [10]:
def t_student(df1, df2, coeff):
    t, p = stats.ttest_ind(df1[coeff], df2[coeff])
    return t, p

In [12]:
t, p = t_student(df_tortuous, df_simple, 'Dice 3D [%]')
t, p

(np.float64(-0.5627124522328698), np.float64(0.5805724104497108))